:root{
  --red: #FF1801;
}

.App{
  height : 100vh;
  width : 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background{
  position : absolute;
  height : 100vh;
  width : 100vw;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw auto;
  opacity : .9;
}

.form{
  min-width : 28%;
  max-width: 38%;
  min-height : 50%;
  border : 2px solid black;
  border-radius: 5px;
  padding : 0px 20px 10px 20px;
  margin : 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 1s;
  color: #fff;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  margin : 10px;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
  box-shadow: 2px 1px 2px 2px #2b2e2e;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
